In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("./dataset.csv")
df.columns

Index(['product_title', 'product_vendor', 'product_type', 'cancelled',
       'order_id', 'order_name', 'sale_line_type', 'billing_city',
       'billing_region', 'billing_postal_code', 'customer_id',
       'utm_campaign_medium', 'utm_campaign_name', 'utm_campaign_source',
       'product_id', 'referrer_host', 'referrer_name', 'referrer_source',
       'referrer_url', 'hour', 'day', 'week', 'month', 'quarter', 'year',
       'hour_of_day', 'day_of_week', 'month_of_year', 'net_quantity',
       'InsertDate', 'BrandName', 'campaign_id', 'referrer_id', 'time_id',
       'address_id'],
      dtype='object')

## This is our new dataset:

In [4]:
df = df[["product_type","billing_city","referrer_name"]]
df

        product_type billing_city referrer_name
0          Skin Care  Anantapuram        google
1         Face Serum    New Delhi     instagram
2     Instant Coffee       Munger      facebook
3          Skin Care      Cuttack        google
4          Skin Care    Panchkula        google
...              ...          ...           ...
9995             DMT        Gonda     instagram
9996   Personal Wash      Lucknow     instagram
9997   Personal Wash      Lucknow     instagram
9998             DMT      Mathura      facebook
9999   Personal Wash       Mumbai     instagram

[10000 rows x 3 columns]

# The PROBLEM:
### We take two values, which are:
- product_type
- billing_city
## to calculate if "referrer_name" is google of facebook

## Getting Probabilities:

### We first get all the values where refferer is Google

In [22]:
df1 = df[df["referrer_name"]=="google"] # This gives all values where referrer name is Google
l1 = len(df1)
print(f"total number of values is {l1}")
df1

total number of values is 2090

             product_type     billing_city referrer_name
0               Skin Care      Anantapuram        google
3               Skin Care          Cuttack        google
4               Skin Care        Panchkula        google
5               Skin Care           Guntur        google
7               Skin Care            Sikar        google
...                   ...              ...           ...
9883                Foods           723202        google
9888  Premium Fabric Wash           380016        google
9889  Premium Fabric Wash           380016        google
9920        Personal Wash  Mumbai Suburban        google
9921        Personal Wash  Mumbai Suburban        google

[2090 rows x 3 columns]

### Doing the same for Facebook

In [82]:
df2 = df[df["referrer_name"]=="facebook"] # This gives all values where referrer name is Facebook
l2 = len(df2)
print(f"total number of values is {l2}")
df2

total number of values is 3763

             product_type     billing_city referrer_name
2          Instant Coffee           Munger      facebook
6               Skin Care           Indore      facebook
35              Hair Care             Gaya      facebook
40              Hair Care  Bangalore Urban      facebook
42              Value Set         Varanasi      facebook
...                   ...              ...           ...
9989  Premium Fabric Wash           Hassan      facebook
9990        Personal Wash           Hassan      facebook
9991              Laundry           Hassan      facebook
9993                  Tea          Dharwad      facebook
9998                  DMT          Mathura      facebook

[3763 rows x 3 columns]

### Understand: Like the above cells get all values with "referrer_name" = "instagram"

## Taking Input

In [83]:
product_type = "Skin Care"
billing_city = "Mumbai"

### Getting the number of all Skin Care products which were refferred by Google

In [26]:
print(len(df1[df1["product_type"] == "Skin Care"]))
df1[df1["product_type"] == "Skin Care"]

100

     product_type billing_city referrer_name
0       Skin Care  Anantapuram        google
3       Skin Care      Cuttack        google
4       Skin Care    Panchkula        google
5       Skin Care       Guntur        google
7       Skin Care        Sikar        google
...           ...          ...           ...
9752    Skin Care      Bhadrak        google
9779    Skin Care   Coimbatore        google
9841    Skin Care     Haridwar        google
9842    Skin Care     Haridwar        google
9855    Skin Care   West Delhi        google

[100 rows x 3 columns]

### Find the number of Skincare prodcuts refferred by instagram: (refer upar waala column)

### Getting to the final answer:

In [84]:
google_answer = float(len(df1[df1["product_type"]==product_type])/l1) * float(len(df1[df1["billing_city"]==billing_city])/l1) * float(l1/len(df))
google_answer

0.0003923444976076555

In [85]:
instagram_answer = float(len(df2[df2["product_type"]==product_type])/l2) * float(len(df2[df2["billing_city"]==billing_city])/l2) * float(l2/len(df))
instagram_answer

0.0005163433430773319

In [89]:
answer_index = np.argmax([google_answer,instagram_answer])
answer = {0:"Google",1:"Instagram"}
answer[answer_index]

'Instagram'